@import "tailwindcss";

@theme {
  --color-background: #0d1117;
  --color-surface: #161b22;
  --color-surface-light: #21262d;

  --color-primary: #6366f1;
  --color-primary-hover: #4f46e5;

  --color-text: #f8fafc;
  --color-text-secondary: #e2e8f0;
  --color-text-muted: #94a3b8;

  --color-border: #30363d;

  --color-success: #22c55e;
  --color-warning: #f59e0b;
  --color-danger: #ef4444;

  --radius-card: 18px;
  --radius-button: 12px;
}
