.faq {
  max-width: 1300px;
  margin: 150px auto;
  padding: 70px;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  border: 1px solid var(--border);
}

.faq-left {
  padding-right: 60px;
  border-right: 1px solid var(--border);
}

.faq-left span {
  color: var(--primary);
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.faq-left h1 {
  margin-top: 20px;
  font-size: 5rem;
  line-height: 1;
  color: var(--text);
  font-family: var(--font-title);
}

.faq-right {
  padding-left: 60px;
}

.faq-item {
  border-bottom: 1px solid var(--border);
}

.faq-question {
  width: 100%;
  background: transparent;
  border: none;
  color: var(--text);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  font-size: 1.4rem;
  cursor: pointer;
  transition: 0.3s;
}

.faq-question:hover {
  color: white;
}

.faq-question span {
  font-size: 2rem;
  transition: 0.3s;
}

.rotate {
  transform: rotate(45deg);
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: 0.35s ease;
}

.faq-answer.open {
  max-height: 150px;
  padding-bottom: 24px;
}

.faq-answer p {
  color: var(--text-muted);
  line-height: 1.8;
}
